.container {
  max-width: 375px;
  margin: 3rem auto;

  & a {
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
    font-weight: 500;
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
  padding: 3rem 3rem 0.5rem 3rem;
  background-color: white;

  & .login_trouble {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
  }

  & p:nth-of-type(2) {
    text-align: center;
    color: rgb(180, 180, 180);
  }

  & form {
    width: 100%;

    & button {
        width: 100%;
    }
  }

  & .create_new_account {
    font-weight: 500;
    margin-bottom: 5rem;
  }
}

.lock_circle {
    border-radius: 50%;
    border: 2px solid black;
    padding: 2rem;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(220, 220, 220);
  margin: 2rem 0;
  text-align: center;
  color: gray;
  font-weight: 500;
}

.separator_text {
  position: relative;
  top: -12px;
  background-color: white;
  padding: 1rem;
}
