footer {
  margin-bottom: 5rem;
  & .footer_links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 2rem;
    color: gray;

    & a {
      text-decoration: none;
      font-size: 0.85rem;
      color: inherit;
    }
  }

  & .footer_copyright {
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;

    & p {
      color: gray;
      margin: 0;
    }

    & select {
      background-color: transparent;
      border: transparent;
      color: gray;
    }
  }
}